.markdown-container {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  min-height: 100vh;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.form-group label {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.form-group textarea {
  border-radius: 5px;
  font-size: 1.2rem;
  height: 200px;
  max-height: 500px;
  padding: 1rem;
  max-width: 100%;
}

.markdown {
  background: var(--dark-color);
  border-radius: 5px;
  margin: 2rem 0;
  padding: 1rem;
  width: 90%;
}

.markdown h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.markdown-preview {
  word-break: break-all;
}

.markdown-preview ol {
  list-style-position: inside;
}

.markdown img {
  width: 50%;
}

@media (min-width: 1024px) {
  .markdown img {
    width: 25%;
  }
}
